<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Birthday</th>
      <th>Owner</th>
      <th>Histories count</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.birthday %></td>
        <td><%= link_to pet.client, clients_path %></td>
        <td><%= pet.histories_count %></td> <!-- Llamada del metodo para contar las veces de visita al vet -->
        <td><%= link_to 'History', client_pet_histories_path(@client, pet) %></td>
        <td><%= link_to 'Show', [@client, pet] %></td>
        <td><%= link_to 'Edit', edit_client_pet_path(@client, pet) %></td>
        <td><%= link_to 'Destroy', [@client, pet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_client_pet_path(@client) %>
